# Environment specific files and folders.
/.ddev/
.idea/
.vscode/
.fleet/
nbproject/
*.sublime-project
*.sublime-workspace

# OS specific files.
.DS_Store
Thumbs.db

# Dependencies and build artifacts.
/vendor/
composer.lock
